@font-face {
    font-family: 'playball';
    src: url("Playball.ttf") format('truetype');
}

@font-face {
    font-family: 'Albondigas';
    src: url("Albondigas.ttf") format('truetype');
}

@font-face {
    font-family: 'Atlantic Bentley';
    src: url("Atlantic Bentley.ttf") format('truetype');
}

@font-face {
    font-family: 'Awesome Season Personal Use';
    src: url("Awesome Season Personal Use.ttf") format('truetype');
}

@font-face {
    font-family: 'Deadhead Script';
    src: url("Deadhead Script.ttf") format('truetype');
}

@font-face {
    font-family: 'AbhayaLibre';
    src: url("AbhayaLibre-Regular.ttf") format('truetype');
}
