<!DOCTYPE html>
<html lang="en" style="height: 100%">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <style>
      :root{
        --font-size-general: 16px;
      }
      html { font-size: calc(var(--font-size-general)*1); }

      @media screen and (min-width: 420px ){
        html { font-size: calc(var(--font-size-general)*1.05); }
      }
      @media screen and (min-width: 1200px ){
        html { font-size: calc(var(--font-size-general)*1.1); }
      }
      @media screen and (min-width: 1400px ){
        html { font-size: calc(var(--font-size-general)*1.15); }
      }
      @media screen and (min-width: 1800px ){
        html { font-size: calc(var(--font-size-general)*1.2); }
      }
      @media screen and (min-width: 2000px ){
        html { font-size: calc(var(--font-size-general)*1.25); }
      }
      @media screen and (min-width: 2500px ){
        html { font-size: calc(var(--font-size-general)*1.25); }
      }
      @media screen and (min-width: 3000px ){
        html { font-size: calc(var(--font-size-general)*1.3); }
      }
    </style>
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>normalize.css">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>fonts.css">
    <title>talkme!</title>
  </head>
  <body style="height: 100%;">
    <noscript>
      <strong>We're sorry but talkme_front_ doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
