<template lang="pug">
  div.mb-3.d-flex( :class="AddStyleBasedOwnerChat(owner)" )
    p.mb-0.styleTitleBalloon {{user}} - {{time}}
    article.border.rounded.bg-light.w-75.d-flex( :class="AddStyleBasedOwnerChat(owner)" )
      p.mb-0 {{text}}

</template>

<script>
  export default {
    name: "chat_balloon",
    props:{
      text: String,
      user: String,
      time: String,
      owner: Boolean,
    },
    methods : {
      AddStyleBasedOwnerChat ( owner ) {
        if( owner == true ){
          return { 'align-items-start flex-column' : true };
        }else{
          return { 'align-items-end flex-column' : true };
        }
      }
    }
  }
</script>

<style scoped lang="scss">
  .styleTitleBalloon{
    font-size: 13px;
  }
</style>