<template lang="pug">
    div.h-100
        v-list.h-100( nav )
            v-subheader Contactame!
            v-list-item.text-center(  v-for="(user, index) in faked_data" :key="index" @click="ChangeMainScreen")
                v-badge( overlap :color="user.status")
                    template( v-slot:badge)
                        span
                    v-avatar
                        img.rounded-cicle.border.border-info( :src="user.img_url" height="50px" width="50px")
                v-list-item-title.ml-5 {{user.name}}
</template>

<script>
  export default {
    name: "contacts",
    data () {
        return {
          faked_data: [
            {
              "id": 1,
              "name": "Carlos Chicata Farfan",
              "img_url": "../assets/logo.png",
              "status": 'green',
            },
            {
              "id": 2,
              "name": "Benjamin Chicata Farfan",
              "img_url": "../assets/logo.png",
              "status": 'red',
            },
          ]
        }
    },
    methods: {
      //// change to main_screen
      ChangeMainScreen () {
        console.log("cambio a ventana principal");
      },
    },
    created (){
      /// global setting variable
      let self = this;

      let url_socket = this.$store.state.endpoint.friend_connecting
        + this.$store.state.authentication.id + "/";
      /// create a server send event (sse)
      console.log(url_socket);

      /// customize methods of (sse)
    }
  }
</script>

<style scoped lang="scss">

</style>