<template lang="pug">
    v-app.h-100
        v-navigation-drawer( v-model="status.menu" app width="300px" )
            v-list.text-center.d-flex.justify-content-around.align-items-center( dense )
                v-list-item-content.styleTitleContent
                    v-list-item-title.mb-0.styleTitleMenu Habla!
                    v-list-item-subtitle.styleTextAvatarBar disfruta conectarte hoy
                v-btn( icon @click="DisplayMenu" )
                    v-icon chevron_left
            v-divider
        v-app-bar( color="#FFC30F" app elevate-on-scroll=true )
            v-app-bar-nav-icon( @click="DisplayMenu")
            v-spacer
            p.mb-0.styleTextAvatar Bienvenido!
            v-avatar( size=30 tile=true)
                img.rounded-circle.styleBorderAvatart( src="../assets/fotoperfil.jpg" alt="img. avatar")
        v-content.h-100
            v-layout(fluid fill-height)
                v-flex.main_screen
                    mainbase
                v-flex.contacts
                    contacts
</template>

<script>
  import mainbase from './mainbase'
  import contacts from './contacts';

  export default {
    name: "dashboard",
    data () {
      return {
        /// connection socket in project: status
        conn_socket: null,
        /// status
        status: {
          menu: false,
        }
      }
    },
    components: {
      contacts,
      mainbase,
    },
    methods: {
      //// display sidebar menu
      DisplayMenu () {
        this.status.menu = !this.status.menu;
      }
    },
    created () {
      /// global setting variable
      let self = this;
      let socket_url = this.$store.state.endpoint.connection
        + this.$store.state.authentication.id + "/";

      /// create a socket to real time connection status ( RT conn )
      this.conn_socket = new WebSocket(
        socket_url
      );

      //// customize methods of socket
      this.conn_socket.onclose = (e) => {
        console.log("close connection socket");
      };

      this.conn_socket.onopen = (e) => {
        console.log("open connection socket");
      };
    },
    beforeDestroy () {
      this.conn_socket.close();
    }
  }
</script>

<style scoped lang="scss">
    %styleTitle {
        text-shadow: 2px 1px #6c757d;
        font-family: Albondigas;
        color: #ff9000;
        font-size: calc(var(--font-size-general)*4);
    }
    .styleBorderAvatart {
        border: 2px solid #6ec5b8;
    }
    .styleTextAvatar {
        font-family: "Atlantic Bentley";
        font-size: calc(var(--font-size-general)*1.8);
        color: whitesmoke;
    }
    .styleTitleMenu {
        @extend %styleTitle;
        line-height: 0.8 !important;
    }
    .styleTextAvatarBar {
        font-family: "Atlantic Bentley";
        font-size: calc(var(--font-size-general)*1.8);
        color: #6ec5b8;

    }
    .styleTitleContent {
        position: relative;
        left: 10%;
    }

    .main_screen {
        width: calc(100% - 350px);
    }
    .contacts {
        width: 100px;
    }

    @media screen and (max-width: 650px){
        .main_screen {
            width: calc(100% - 300px);
        }
        .contacts {
            width: 100px;
        }
    }
    @media screen and (max-width: 480px){
        .main_screen {
            width: 82%;
        }
        .contacts {
            width: 18%;
        }
    }
    @media screen and (max-width: 420px){
        .contacts {
            width: 100%;
        }
        .main_screen {
            width: 0%;
            display: none;
        }
    }

</style>