<template lang="pug">
    div.h-100.d-flex.flex-column.align-items-center.justify-content-center
        h1.estiloTitulo.animated.bounceIn.delay-1s Habla!
        div.animated.fadeIn.delay-2s.text-center.estiloFormularioFijo.pt-4.pb-4.p-2.estiloFormulario
            form.w-100.text-center.pt-4.pb-4
                div.form-group
                    label( for="nickname"): p.mb-0.estiloSubtitulo Nombre de usuario
                    input.form-control#nickname( @click="ClearInputs" v-model="logging_data.nickname" type="text" placeholder="Escribir nombre de usuario")
                    small.estiloMensageError.text-danger( v-if="loggin_status.nickname") no debe estar vacio el campo
                div.form-group.pt-2
                    label( for="password"): p.mb-0.estiloSubtitulo Contraseña
                    input.form-control#password( @click="ClearInputs" v-model="logging_data.password" type="password" placeholder="Escribir contraseña")
                    small.estiloMensageError.text-danger( v-if="loggin_status.password" ) no debe estar vacio el campo
                button.btn.btn-info( type="button" @click="StartSession") Iniciar Sesión
        p.pt-2.estiloReinicio.text-info.animated.fadeIn.delay-2s: a( style="color:#6c757d;" href="") Perdiste tus credenciales, ¡Recuperalas aqui!
        p.text-warning( v-if="loggin_status.status" ) {{ message_error.status }}
</template>

<script>
  import axios from 'axios'

  const url_api = {
    "credentials": process.env.VUE_APP_HTTP + '/authentication/logging/',
  };

  axios.defaults.timeout = 5000;

  export default {
    name: "logging",
    data () {
      return {
        //// data of logging form
        logging_data: {
          password: "",
          nickname: "",
        },
        //// status of logging form
        loggin_status: {
          password: false,
          nickname: false,
          status: false,
        },
        //// message error of logging form
        message_error: {
          status: "",
        }
      }
    },
    methods: {
      //// clean inputs
      ClearInputs () {
        this.loggin_status.nickname = false;
        this.loggin_status.password = false;
        this.loggin_status.status = false;
      },
      //// verification of field in form
      VerificationForm () {
        /// get returned variable
        let flag_form = [true, true, true];
        //// verification form data
        if( this.logging_data.nickname == ""){
          flag_form[1] = false;
          flag_form[2] = false;
        }
        if( this.logging_data.password == ""){
          flag_form[0] = false;
          flag_form[2] = false;
        }
        return flag_form
      },
      //// send data
      StartSession () {
        /// verification form
        let status_form = this.VerificationForm();
        if( status_form[2] == false){
          this.loggin_status.password = !status_form[1];
          this.loggin_status.nickname = !status_form[0];
          return false;
        }
        /// json sending
        let json_send = {
          "password": this.logging_data.password,
          "username": this.logging_data.nickname,
        };
        /// call to API
        axios.post(
          url_api["credentials"],
          json_send
        ).then( rps => {
          //// save critical data of session
          this.$store.commit('UpdateIdTalkUser', rps.data.id);
          this.$store.commit('UpdateAuthentication', rps.data.token);
          ///// save in  session local
          sessionStorage.setItem('talkme_id', rps.data.id);
          sessionStorage.setItem('talkme_token', rps.data.token);
          //// moving other page screen
          this.$router.push('/main-screen/');
        }).catch(error => {
          let status_request = error.response;
          if(status_request == undefined){
            this.message_error.status = "¡Error en el servidor!";
            this.loggin_status.status = true;
          }
          status_request = error.response.data;
          /// es una consulta generada propia?...
          if( status_request != undefined ){
            if( status_request["code"] == 3){
              this.message_error.status = "¡No es un usuario en el sistema!";
              this.loggin_status.status = true;
            }
          }
          /// error en el servidor!
          else{
            this.message_error.status = "¡Error en el servidor!";
            this.loggin_status.status = true;
          }
        });
      }
    }
  }
</script>

<style scoped lang="scss">
    @import "~animate.css";

    .estiloReinicio{
        font-size: calc(var(--font-size-general)*0.8);
    }
    .estiloMensageError{
        text-decoration: none !important;
        font-weight: bold;
    }
    .estiloTitulo{
        text-shadow: 2px 1px #6c757d;
        font-family: Albondigas;
        color: #ff9000;
        font-size: calc(var(--font-size-general)*5);
    }
    .estiloSubtitulo {
        color: #6c757d;
        text-decoration: underline;
        font-weight: bold;
    }
    .estiloFormularioFijo{
        border: 3px solid;
        border-radius: 5px;
        border-color: #6ec5b8;
    }
    .estiloFormulario {
        width: 25%;
    }

    //// media query
    @media screen and (max-width: 420px){
        .estiloFormulario {
            width: 90%
        }
    }
    @media screen and (min-width: 421px) and (max-width: 600px){
        .estiloFormulario {
            width: 75%
        }
    }
    @media screen and (min-width: 601px) and (max-width: 750px){
        .estiloFormulario {
            width: 65%
        }
    }
    @media screen and (min-width: 751px) and (max-width: 1000px){
        .estiloFormulario {
            width: 50%
        }
    }
</style>
