<template lang="pug">
    div.h-100
        component.h-100( :is="UpdateComponentDisplay")
</template>

<script>
  import mainscreen_setup from './mainscreen_setup'
  import mainscreen_chat from './mainscreen_chat'

  export default {
    name: "mainbase",
    components: {
      'setup': mainscreen_setup,
      'chat_room': mainscreen_chat,
    },
    data () {
      return {
        current_component: 'setup'
      }
    },
    computed: {
      UpdateComponentDisplay () {
        return this.$store.state.current_component;
      }
    }
  }
</script>

<style scoped lang="scss">

</style>