<template lang="pug">
    div.h-100
        v-container( xs12 )
            section.pb-5.pt-5
                p.text-center.mb-0.styleTitle Habla!
                p.text-center.mb-0 Chatea con tus contactos por medios de:
            section.pt-5
                v-card.p-3( style="width:200px")
                    figure.d-flex.justify-content-center
                        img.border.rounded-circle( src="../assets/logo.png" width="150px")
                    v-card-title
                        span.w-100.text-center.styleTitleCard Chatea
                    v-card-actions.d-flex.justify-content-center
                        v-btn( color="info" type="rounded" @click="GoToChat") ¡Empecemos!
</template>

<script>


  export default {
    name: "mainscreen_setup",
    data () {
      return {

      }
    },
    methods: {
      //// go to chat template
      GoToChat () {
        this.$store.commit('UpdateCurrentComponent', 'chat_room');
      }
    }
  }
</script>

<style scoped lang="scss">
    .styleTitle {
        text-shadow: 2px 1px #6c757d;
        font-family: Albondigas;
        color: #ff9000;
        font-size: 60px;
        line-height: 0.8 !important;
    }
    .styleTitleCard {
        color: #6ec5b8;
        font-weight: bold;
        font-family: "Atlantic Bentley";
        text-shadow: 2px 1px #6c757d;
        font-size: 40px;
    }
</style>