<template lang="pug">
  div.p-5.d-flex.flex-column.align-items-center
    div.d-flex.flex-column.h-100.w-100
      div.border.rounded.styleScreenChat.p-3
        chat_balloon( v-for="(chat, index) in conversation" :key="index" :time="chat.time" :user="chat.user" :text="chat.text" :owner='chat.owner' )
      form.mt-2( @submit.prevent="SendMessage")
        input.form-control( type="text" v-model="message" )
</template>

<script>
  import chat_balloon from './chat_balloon'

  export default {
    name: "mainscreen_chat",
    components:{
      chat_balloon
    },
    data () {
      return {
        conversation:[],
        message: "",
        conn_socket: null,
      }
    },
    methods: {
      GoBackSetUp () {
        this.$store.commit('UpdateCurrentComponent', 'setup');
      },
      SendMessage () {
        if(this.conn_socket != null ){
          /// preparing message
          let json_data = {
            "message": this.message
          };
          /// call to back
          this.conn_socket.send(JSON.stringify(json_data));
        }else{
          console.log("error en el envio de socket: no existe connección");
        }
        this.message = "";
      },
    },
    created () {
      /// initialize the socket
      let self = this;
      this.conn_socket = new WebSocket(this.$store.state.endpoint.chatroom);

      /// customize methods of socket
      this.conn_socket.onmessage = (e) => {
        /// data transpormation
        let data = JSON.parse(e.data);
        /// add speech in conversation
        self.conversation.push({
          "user": "Carlos Chicata",
          "time": "2019-08-22",
          "text": data['message'],
          "owner": ((self.conversation.length + 1) % 2 == 0) ? true : false,
        });
      };

      this.conn_socket.onclose = (e) => {
        console.log("cerramos socket ahora");
      };

      this.conn_socket.onopen = (e) => {
        console.log("entramos bien todo!");
      };
    },
    beforeDestroy () {
      this.conn_socket.close();
    }
  }
</script>

<style scoped lang="scss">
  .styleScreenChat {
    background-color: white;
    height: 95%;
    overflow-y: scroll;
  }
</style>